:root {
  --headingFont: "PT Sans", sans-serif;
  --paragraphFont: "Open Sans", sans-serif;

  --primary: #784d3c;
  --white: #ffffff;
  --black: #000000;
  --gray: #e1e1e1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--paragraphFont);
  font-size: 1.6rem;
  line-height: 2;
}

/* Globals */
.container {
  margin: 0 auto;
  width: min(90%, 120rem);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* Utilities */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

/* Header */
.webp .header {
  background-image: url(../img/banner.webp);
}

.no-webp .header {
  background-image: url(../img/banner.jpg);
}

.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
}

.header__text {
  color: var(--white);
  margin-top: 7.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header__text {
    margin-top: 17rem;
  }
}

.bar {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: var(--white);
}

.logo__name {
  font-weight: normal;
}

.logo__bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    gap: 2rem;
  }
}

.nav__link {
  color: var(--white);
  font-size: 1.8rem;
  display: block;
  text-align: center;
}

.nav__link:hover {
  font-weight: bold;
  transform: scale(110%);
}

@media (min-width: 768px) {
  .main-content {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 2fr 1fr;
  }
}

/* Article */
.post {
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.post:last-of-type {
  border: none;
  margin: 0;
}

.post__title {
  margin: 0;
}

.button {
  border: none;
  color: var(--white);
  display: block;
  text-align: center;
  font-family: var(--headingFont);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  transform: scale(106%);
  transition: all ease 0.3s;
}

@media (min-width: 768px) {
  .button {
    display: inline-block;
  }
}

.button--primary {
  background-color: var(--black);
}

.button--secondary {
  background-color: var(--primary);
}

/* Aside */
.courses {
  list-style: none;
}

.course-widget {
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.course-widget:last-of-type {
  border: none;
  margin: 0;
}

.course-widget__label,
.course__label {
  font-family: var(--headingFont);
  font-weight: bold;
}

.course-widget__info,
.course__info {
  font-weight: normal;
}

.course-widget__label,
.course-widget__info,
.course__label,
.course__info {
  font-size: 2rem;
}

/* Footer */
.footer {
  background-color: var(--black);
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.footer-logo__name {
  font-weight: normal;
}

.footer-logo__bold {
  font-weight: bold;
}

/* About Us */
@media (min-width: 768px) {
  .about-us {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Courses */
.course {
  border-bottom: 1px solid var(--gray);
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .course {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 2fr;
  }
}

.course:last-of-type {
  border: none;
}

/* Contact Us */
.contact-bg {
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.form {
  background-color: var(--white);
  margin: -5rem auto 0 auto;
  padding: 2.5rem;
  width: 95%;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.field__space {
  border: 1px solid var(--gray);
  height: 5rem;
}

.field__space--textarea {
  height: 20rem;
}

.field__button {
  height: 6rem;
  width: 98%;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .form {
    padding: 5rem;
  }

  .field {
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
  }

  .field__label {
    flex: 0 0 9rem;
    text-align: center;
    padding-right: 2rem;
  }

  .field__space {
    flex: 1;
    height: auto;
  }

  .field__space--textarea {
    height: 20rem;
  }

  .field__button {
    font-size: unset;
    height: auto;
    width: auto;
  }
}